body {
    background-color: #353535;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.scroll-container {
    background-color: #ff2a2a;
    font-size: large;
    width: 100%;
    height: 100px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: none; /* Hide by default */
    overflow: hidden; /* Hide scroll bars */
}

.scroll-text {
    color: white;
    text-shadow: 2.5px 1.5px 5px rgb(0, 0, 0);
    font-size: 60px;
    line-height: 0; /* Match the font size for vertical centering */
    text-align: center;
    white-space: nowrap; /* Ensure text stays in a single line */
}
