body {
    font-family: sans-serif;
    color:white;
    background-color: #161616;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

nav ul {
    list-style-type: none;
    background-color: #6d1f1f;
    border: 4px solid #ffffff;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
}

nav ul li {
    display: inline;
    border-right: 2px solid #ffffff;
    padding-right: 8px;
    padding-left: 8px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav a:link, a:visited {
    color: white;
    text-decoration: none;
}

nav .selected {
    color:rgb(255, 216, 216);
}

nav a:hover, a:active {
    color: rgb(175, 175, 175);
}

table {
    font-size: 70%;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6d1f1f;
}

td {
    background-color: #00000000;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b93434;
    border: none;
    border-radius: 15px;
  }
  
.button:hover {background-color: #922727}

.button:active {background-color: #db5d5d;}

.button a:link, a:visited {
    text-decoration: none;
    color: white;}

.activeAlerts-container {
    font-family: sans-serif;
}
.activeAlerts-list {
    list-style-type: none;
    padding: 0;
}
.activeAlert-item {
    margin: 5px 0;
    padding: 10px;
    background-color: #2f4158;
    border-radius: 5px;
}

input[type="text"] {
    width: 300px; /* Set the width to 300 pixels */
}