/.vs
/env

/history
/queue
/tmp
/stats
/assets/tmp

/plugins

/assets/alertlog.txt
/assets/cgen.json
/assets/config.json

/assets/pre.wav
/assets/post.wav

/config.json
/relay.xml
/start.bat
/map_addons
/password.json

/__pycache__

/piper
/piper_voices